* {
   margin: 0;
   padding: 0;     
   box-sizing: border-box; 
}

#member {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.member-card-upper {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
}

.member-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  backface-visibility: hidden;
  -moz-backface-visibility: hidden;
}

.member-card-upper:focus {
    outline: 0;
}

.member-card-upper:hover .member-card-inner,
.member-card-upper:focus .member-card-inner{
  transform: rotateY(180deg);
}

.member-card-front,
.member-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
}

.member-card-front {
  background: linear-gradient(to left, #4364f7, #6fb1fc);
  color: black;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.member-card-back {
  background: linear-gradient(to right, #4364f7, #6fb1fc);
  color: white;
  transform: rotateY(180deg);
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.member-card--avatar--wrapper {
  border: 1px 1px 1px solid black;
  margin: 30px;
}

img {
  width: 100px;
}

.member_icon--wrapper {
  display: flex;
}


/* main {
   height: 100vh;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap : wrap;
} */

/* .member_card--upper {
  list-style:none;
  display: flex;
  justify-content: center;
} */

/* li {
  border: 2px solid rgb(255, 64, 64);
} */

/* ul > li {
  border-radius: 10px;
} */

/* #member {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.member_team--container {
  max-width: 1350px;
  min-width: 1350px;
  height: 300px;
  border: 2px solid #191de3;
}

.member_member--card--container {
  max-width: 1350px;
  min-width: 1350px;
  height: 550px;
  border: 2px solid rgb(255, 64, 64);
  padding: 0.5em;
  background-color: transparent;
  perspective: 1000px;
}

.member_member--card--container:focus {
  outline: 0;
}

.member_card--upper, .member_card--lower {
  height: calc(100% / 2);
  border: 2px solid rgb(255, 64, 64);
}

.member_card1--front {
  width: 50%
}


.member_card2 {
  border: 2px solid rgb(255, 64, 64);
  width: calc(100% / 4);
  height: 100%;
  background-color: transparent;
  cursor: pointer;
  position: relative;
  transition: transform 0.5s;
  backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  transform-style: preserve-3d;
}

.member_card1--front, 
.member_card2 {
  border: 2px solid rgb(255, 64, 64);
  width: calc(100% / 4);
  height: 100%;
  background-color: transparent;
  cursor: pointer;
  position: relative;
  transition: transform 0.5s;
  backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  transform-style: preserve-3d;
}

.member_card1--front:hover,
.member_card1--front:focus,
.member_card1--back:hover,
.member_card1--back:focus,
.member_card2:focus, 
.member_card2:hover {
  transform: rotateY(180deg);
}

div .member_card1--front,
div .member_card1--back  {
  position: absolute;
  width: 100%;
  height: 100%
}

div.member_card1--front {
  background: linear-gradient(to left, grey, pink);
  z-index: 2;
}
div.member_card1--back {
  background-color: linear-gradient(to right, grey, pink);
  z-index: 1;
} */
